{% include 'head.html' %}
{% include 'nav.html' %}
<h1>Add Product</h1>
<form action="add-product" method="POST" enctype = "multipart/form-data">

   <div class = "form-group">
      <label for = "name">Judul Buku</label>
      <input type = "text" class = "form-control" placeholder = "Masukkan Judul" name="judul">
   </div>
   <div class = "form-group">
      <label for = "inputfile">File input</label>
      <input type = "file" id = "inputfile" name="foto">
      <p class = "help-block">Example block-level help text here.</p>
   </div>
   
   <button type = "submit" class = "btn btn-default">Submit</button>
</form>
{% include 'foot.html' %}