{% include 'head.html' %}
{% include 'nav.html' %}
<h1>Product Detail</h1>

<div class="container">
	<img class="img-responsive" alt="" src="data:image/jpg;base64, {{book['image']}}" style="height: 200px; width: auto">
	<h3>{{book['title']}}</h3>
	<h4>Author: {{book['author']}}</h4>
	<h4>Year: {{book['year']}}</h4>
	<h4>Description: </h4>
	<p>{{book['desc']}}</p>
	<br/>
	<h4>Owner: {{owner['name']}}</h4>
	<h4>Contact: {{owner['contact']}}</h4>
	<h4>City: {{owner['city']}}</h4>
</div>


{% include 'foot.html' %}