   <nav class = "navbar navbar-inverse" role = "navigation">

      <div class = "navbar-header">
         <a class = "navbar-brand" href = "#">Readaz</a>
      </div>

      <div>
         <ul class = "nav navbar-nav">
            <li class = ""><a href = "/">Home</a></li>
         </ul>
         <ul class = "nav navbar-nav navbar-right">
            {% if session['email'] %}
            <li><a href = "add-product">Add Product</a></li>
            <li><a href = "product-list">Product List</a></li>
            <li><a href = "logout">Logout</a></li>
            {% else %}
            <li><a href = "register">Register</a></li>
            <li><a href = "login">Login</a></li>
            {% endif %}
            <li><a href = "#">    </a></li>
         </ul>
      </div>

   </nav>
   <div class="container">