{% include 'head.html' %}
{% include 'nav.html' %}

 <form action="register" method="post">
  <div class="container">
    <h1>Register</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>
    <div class="form-group">
    	<label for="email"><b>Email</b></label>
    <input class="form-control" type="text" placeholder="Enter Email" name="email" required>
    </div>
    <div class="form-group">
    	<label for="psw"><b>Password</b></label>
    <input class="form-control" type="password" placeholder="Enter Password" name="password" required>
    </div>
    <div class="form-group">
    	<label for="psw-repeat"><b>Repeat Password</b></label>
    <input class="form-control" type="password" placeholder="Repeat Password" name="password-repeat" required>
    </div>
    <div class="form-group">
    	<label for="contact"><b>Phone Number</b></label>
    <input class="form-control" type="text" placeholder="Ex: 085608518888" name="contact" required>
    </div>
    <div class="form-group">
    	<label for="city"><b>City</b></label>
    <select class="form-control" name="city">
    	<option value="surabaya">Surabaya</option>
    	<option value="sidoarjo">Sidoarjo</option>
    </select>
    </div>

    <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
    <button type="submit" class="registerbtn">Register</button>
  </div>

  <div class="container signin">
    <p>Already have an account? <a href="login">Sign in</a>.</p>
  </div>
</form> 

{% include 'foot.html' %}